body {
    margin-left: 4%;
    
}

nav {
    text-align: center;
    margin-bottom: 4%;
} 

div {
    margin-bottom: 10px;
}

input {
    padding: 5px 10px;
}


label {
    display: inline-block;
    width: 110px;
    color: #606060	;
}

#title {
    margin-left: 3%;
}

#submit-breed-button {
    margin-top: 3%;
}

#edit-button {
    margin-top: 3%;
}

#edit-cat-breed {
    margin-top: 3%;

}
.index {
    display: inline-block;
    width: 280px;
    /* height: 300px; */
    /* padding: 50px; */
    border: 1px solid rgb(184, 184, 184);
    text-align: center;
    margin: 1em;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

#delete-breed {
    margin-top: 3%;
    width: 30%;
}

#home-new-edit-links {
    margin-top: 1.5%;
}

.home-link {
    margin-left: 3%;
}

.add-new-link {
    margin-left: 3%;
    margin-right: 3%;
}

.show-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 30%;
    /* text-align: center; */
}

#show-added-data {
    position: fixed; 
    display: inline-block;
    margin-left: 5%;
    /* bottom: 50%; */
    margin: 2% 3%;
    width: 50%; 
}

#add-new-form {
    margin: 2% 3%;
    width: 30%;
}

.placeholder {
    text-align: right;
}

.labels-show-page {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .6cm ;
    color: #6f2da8;
}

.added-text-show-page {
    font-family: Arial, Helvetica, sans-serif;
}